*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --linear-gradient-one: hsl(236, 72%, 79%);
    --linear-gradient-two: hsl(237, 63%, 64%);
    --very-light-grayish-blue: hsl(240, 78%, 98%);
    --light-grayish-blue: hsl(234, 14%, 74%);
    --grayish-blue: hsl(233, 13%, 49%);
    --dark-grayish-blue: hsl(232, 13%, 33%);
    --white: white;
}

body{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--very-light-grayish-blue);
}

.container{
    max-width: 1440px;
    height: 850px;
    border: 1px solid black;
    margin: auto;
    background-image: url(images/bg-bottom.svg), url(images/bg-top.svg);
    background-repeat: no-repeat;
    background-position: left bottom, right top;
    padding: 2em 12em;
}
/*-----------------------------------------------------------------------------*/
/*-----------------------------     HEADER      -------------------------------*/
/*-----------------------------------------------------------------------------*/

.header-container{
    height: 20%;
    margin-bottom: 3em;
}

.switch-title{
    color: var(--grayish-blue);
    text-align: center;
    font-size: 2em;
    height: 3em;
    padding-top: 1em;
}

.switch-container{
    border: 1px solid black;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-header{
    color: var(--light-grayish-blue);
}

.switch{
    height: 2.5em;
    width: 4em;
    margin: 0 1em;
    background-image: linear-gradient(90deg, var(--linear-gradient-one), var(--linear-gradient-two));
    border-radius: 2em;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.switch::before{
    content: "";
    display: block;
    height: 80%;
    width: 50%;
    background: var(--very-light-grayish-blue);
    border-radius: 2em;
    position: absolute;
    right: 5px;
    top: 4px;
    left: unset;
    transition: .3s ease all;
}

.annualy::before{
    right: unset;
    top: 4px;
    left: 5px;
}

/*-----------------------------------------------------------------------------*/
/*--------------------------     MAIN CONTAINER      --------------------------*/
/*-----------------------------------------------------------------------------*/

.main-container{
    border: 1px solid red;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    border: 1px solid black;
    text-align: center;
    padding: 2em;
    width: 33%;
    border-radius: 1em;
    color: var(--dark-grayish-blue);
    background-color: var(--white);
}

.secundary-card {
    height: 90%;
}

.primary-card{
    height: 100%;
    padding-top: 3.8em;
    background-image: linear-gradient(180deg , var(--linear-gradient-one), var(--linear-gradient-two));
    color: var(--very-light-grayish-blue);
}

.plan{
    font-size: 1.5em;
    margin-bottom: 1em;
}

.price-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.sign{
    font-size: 2rem;
}

.price{
    font-size: 5em;
}

.description-container{
    border-bottom: 1px solid var(--light-grayish-blue);
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 80%;
}

.first-description-container{
    border-top: 1px solid var(--light-grayish-blue);
}

.last-description-container{
    margin-bottom: 2em;
}

.learn-more{
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    border-radius: .5em;
}

.secundary-learn-more{
    background-image: linear-gradient(90deg, var(--linear-gradient-one), var(--linear-gradient-two));
    color: var(--very-light-grayish-blue);
}

.secundary-learn-more:hover,
.primary-learn-more{
    background: var(--very-light-grayish-blue);
    color: var(--linear-gradient-two);
    border: 1px solid var(--linear-gradient-two);
}

.primary-learn-more:hover{
    background: none;
    color: var(--very-light-grayish-blue);
    border: 1px solid var(--very-light-grayish-blue);;
}

.attribution{
    text-align: center;
}

@media screen and (max-width: 1000px){
    .container{
        width: 375px;
        height: 1950px;
        padding: 2em;
        background-image: url('images/bg-top.svg');
        background-repeat: no-repeat;
        background-position: top right;
    }

    .header-container{
        margin: 0;
        height: 15%;
    }

    .main-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2em;
        height: 80%;
    }

    .card{
        border: 1px solid black;
        text-align: center;
        padding: 1em;
        width: 100%;
        height: 480px;
    }
}